@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Role</a>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Assign" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Assign New User</a>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.roles)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
